@charset "utf-8";

:root {
  --main-font: 'Noto Sans KR', sans-serif;
  --base-color: #000;
  --main-color: #36454F;
  --sub-color: #57575C;
}

body {
  font-family: var(--main-font);
  font-size: 1.6rem;
  line-height: 1.5;
  color: var(--base-color);
  overflow-x: hidden;
  font-weight: 400;
}

.inner {
  max-width: 1280px;
  margin: 0 auto;
}

.btn_more {
  transition: all 0.5s;
  padding: 10px 20px;
  border-radius: 45px;
  display: inline-block;
  background: var(--main-color);
  color: #fff;
}

.btn_more:hover {
  background: #000;
}

h2 {
  font-size: 4.8rem;
  font-weight: 500;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 15px;
}

dt {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  padding: 20px 0 10px;
  transition: all 0.5s;
}

li:hover dt {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

dd {
  font-size: 1.6rem;
  text-align: center;
  color: var(--sub-color);
  padding-bottom: 10px;
}

li:hover dd {
  color: var(--main-color);
}

.depth2 {
  display: none;
  margin-top: 10px;
  padding: 25px 50px;
  position: absolute;
  background: var(--main-color);
}

@media(max-width:1024px) {
  dt {
    font-size: 1.8rem;
  }

  dd {
    font-size: 1.4rem;
  }
}

@media(max-width:768px) {
  h2 {
    font-size: 4.0rem;
  }
}

@media(max-width:640px) {
  dt {
    font-size: 1.8rem;
  }

  dd {
    font-size: 1.6rem;
  }
}

@media(max-width:360px) {
  h2 {
    font-size: 2.4rem;
  }
}

.caret_up {
  display: none;
}

.caret_down,
.caret_up {
  position: absolute;
  right: -5%;
  top: 20%;
  cursor: pointer;
}

.caret_up2 {
  display: none;
}

.caret_down2 {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.overlay {
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.overlay strong {
  color: #fff;
  display: block;
  font-size: 2.0rem;
  text-align: center;
  padding-bottom: 10px;
}

.overlay p {
  color: #D9D9D9;
  white-space: pre-line;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 20px;
}

li:hover .overlay {
  opacity: 1;
}

/* header */
#header {
  background: #fff;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  z-index: 1000;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header h1 a {
  display: block;
}

@media(max-width:1360px) {
  #header {
    padding: 0 30px;
  }
}

@media (max-width: 1280px) {
  #header {
    height: 100px;
  }

  #header h1 a {
    height: 31.91px;
  }

  #header h1 a img {
    width: 150px;
    height: auto;
  }
}

@media(max-width:900px) {
  #header h1 a {
    height: 23.39px;
  }

  #header h1 a img {
    width: 110px;
  }
}

@media (max-width:768px) {
  #header {
    padding: 0 24px;
  }
}

@media (max-width:360px) {
  #header {
    height: 60px;
    padding: 16px;
  }
}

/* gnb */
.gnb {
  display: flex;
}

.gnb>li {
  position: relative;
  transition: all 0.5s;
}

#header .gnb>li::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%);
  width: 1px;
  height: 3px;
  background-color: var(--main-color);
  z-index: 1000;
  transition: 0.5s all;
  opacity: 0;
}

#header .gnb>li:hover::before {
  width: 45%;
  opacity: 1;
}

#header .gnb>li:nth-child(4):hover::before {
  width: 60%;
}

#header .gnb>li:nth-child(5):hover::before {
  width: 30%;
}

.gnb>li>a {
  display: block;
  padding: 10px 50px;
  font-size: 2.0rem;
  color: var(--base-color);
  font-weight: bold;
}

.gnb>li>ul {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

.gnb>li>ul>li>a {
  padding: 0 50px 10px;
  display: block;
  color: #fff;
  font-size: 1.8rem;
  font-weight: 500;
}

.gnb>li>ul>li>a:hover {
  color: #FFD700;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.gnb>li>ul>li>.depth3 a {
  color: #D9D9D9;
  padding: 10px 0;
  display: block;
}

.gnb>li>ul>li>.depth3 a:hover {
  color: #FFD700;
  text-decoration: underline;
  text-underline-offset: 5px;
}

/* depth2_1 */
.gnb .one {
  width: 715px;
}

.gnb>li>.one>li:nth-child(1)>a {
  padding-left: 0;
}

.gnb>li>.one>li:nth-child(2)>a {
  padding-left: 60px;
}

.gnb>li>.one>li:nth-child(2)>.depth3 a {
  padding-left: 60px;
}

.gnb>li>.one>li:nth-child(3)>a {
  padding-left: 55px;
}

.gnb>li>.one>li:nth-child(4)>a {
  padding-right: 0;
  padding-left: 30px;
}

/* depth2_2 */
.gnb .two {
  left: -100%;
  width: 715px;
}

.gnb>li>.two>li:nth-child(1)>a {
  padding-left: 0;
}

.gnb>li>.two>li:nth-child(2)>a {
  padding-left: 90px;
}

.gnb>li>.two>li:nth-child(3)>a {
  padding-left: 65px;
}

.gnb>li>.two>li:nth-child(4)>a {
  padding-right: 0;
  padding-left: 65px;
}

/* depth2_3 */
.gnb .three {
  left: 0;
  width: 370px;
}

.gnb>li>.three>li:nth-child(1)>a {
  padding-left: 0;
}

.gnb>li>.three>li:nth-child(2)>a {
  padding-right: 0;
  padding-left: 40px;
}

.gnb>li>.three>li:nth-child(2)>.depth3 a {
  padding-left: 40px;
}

/* depth2_4 */
.gnb .four {
  left: 0;
  width: 410px;
}

.gnb>li>.four>li:nth-child(1)>a {
  padding-left: 0;
}

.gnb>li>.four>li:nth-child(2)>a {
  padding-right: 0px;
  padding-left: 135px;
}

/* depth2_5 */
.gnb .five {
  right: 0%;
  width: 900px;
}

.gnb>li>.five>li:nth-child(1)>a {
  padding-left: 0;
}

.gnb>li>.five>li:nth-child(2)>a {
  padding-left: 35px;
}

.gnb>li>.five>li:nth-child(2)>.depth3 a {
  padding-left: 35px;
}

.gnb>li>.five>li:nth-child(3)>a {
  padding-left: 35px;
}

.gnb>li>.five>li:nth-child(4)>a {
  padding-right: 0;
  padding-left: 30px;
}

@media(max-width:1500px) {
  .gnb>li>a {
    padding: 10px 35px;
  }

  .gnb>li>.one {
    width: 650px;
    left: -5%;
  }

  .gnb>li>ul>li>a {
    padding: 0 10px 10px;
  }

  .gnb>li>.one>li:nth-child(3) a {
    padding-left: 65px;
  }

  .gnb>li>.one>li:nth-child(4) a {
    padding-left: 40px;
  }

  .gnb>li>.two {
    left: -105%;
    width: 650px;
  }

  .gnb>li>.two>li:nth-child(3)>a {
    padding-left: 80px;
  }

  .gnb>li>.two>li:nth-child(4)>a {
    padding-left: 75px;
  }

  .gnb>li>.three {
    left: -5%;
  }

  .gnb>li>.five {
    width: 770px;
  }

  .gnb>li>.five>li:nth-child(2)>a {
    padding-left: 50px;
  }

  .gnb>li>.five>li:nth-child(2)>.depth3 a {
    padding-left: 50px;
  }

  .gnb>li>.five>li:nth-child(3)>a {
    padding-left: 40px;
  }

  .gnb>li>.five>li:nth-child(4)>a {
    padding-left: 40px;
  }

  #header .gnb>li:nth-child(3):hover::before {
    width: 55%;
  }

  #header .gnb>li:nth-child(4):hover::before {
    width: 70%;
  }

  #header .gnb>li:nth-child(5):hover::before {
    width: 35%;
  }
}

@media(max-width:1360px) {
  .gnb>li>a {
    padding: 10px 35px;
    font-size: 1.6rem;
  }

  #header .gnb>li:nth-child(3):hover::before {
    width: 50%;
  }

  #header .gnb>li:nth-child(4):hover::before {
    width: 65%;
  }

  #header .depth2 {
    padding: 20px 30px;
  }

  #header .depth2 a {
    font-size: 1.4rem;
  }

  #header .depth3 a {
    font-size: 1.2rem;
  }

  .gnb>li>.one {
    width: 600px;
    left: 0;
  }

  .gnb>li>.one>li:nth-child(1) a {
    padding-left: 5px;
  }

  .gnb>li>.one>li:nth-child(2) a {
    padding-left: 70px;
  }

  .gnb>li>.one>li:nth-child(2)>.depth3 a {
    padding-left: 70px;
  }

  .gnb>li>.one>li:nth-child(3) a {
    padding-left: 65px;
  }

  .gnb>li>.one>li:nth-child(4) a {
    padding-left: 45px;
  }

  .gnb>li>.two {
    left: -100%;
    width: 600px;
  }

  .gnb>li>.two>li:nth-child(1)>a {
    padding-left: 5px;
  }

  .gnb>li>.two>li:nth-child(2)>a {
    padding-left: 95px;
  }

  .gnb>li>.two>li:nth-child(3)>a {
    padding-left: 70px;
  }

  .gnb>li>.two>li:nth-child(4)>a {
    padding-left: 75px;
  }

  .gnb>li>.three {
    width: 350px;
    left: 0%;
  }

  .gnb>li>.three>li:nth-child(1)>a {
    padding-left: 5px;
  }

  .gnb>li>.three>li:nth-child(2)>a {
    padding-left: 55px;
  }

  .gnb>li>.three>li:nth-child(2)>.depth3 a {
    padding-left: 55px;
  }

  .gnb>li>.four {
    width: 350px;
  }

  .gnb>li>.four>li:nth-child(1)>a {
    padding-left: 5px;
  }

  .gnb>li>.four>li:nth-child(2)>a {
    padding-left: 130px;
  }

  .gnb>li>.five {
    right: -30%;
    width: 700px;
  }

  .gnb>li>.five>li:nth-child(2)>a {
    padding-left: 55px;
  }

  .gnb>li>.five>li:nth-child(2)>.depth3 a {
    padding-left: 55px;
  }

  .gnb>li>.five>li:nth-child(3)>a {
    padding-left: 50px;
  }

  .gnb>li>.five>li:nth-child(4)>a {
    padding-left: 40px;
  }
}

@media(max-width:1280px) {
  #header .gnb>li:nth-child(1):hover::before {
    width: 55%;
  }

  #header .gnb>li:nth-child(2):hover::before {
    width: 55%;
  }

  #header .gnb>li:nth-child(3):hover::before {
    width: 60%;
  }

  #header .gnb>li:nth-child(4):hover::before {
    width: 70%;
  }

  #header .gnb>li:nth-child(5):hover::before {
    width: 40%;
  }

  .gnb>li>a {
    padding-left: 25px;
    padding-right: 25px;
  }

  .gnb>li>.one {
    left: -5%;
  }

  .gnb>li>.one>li:nth-child(2) a {
    padding-left: 45px;
  }

  .gnb>li>.one>li:nth-child(2)>.depth3 a {
    padding-left: 45px;
  }

  .gnb>li>.one>li:nth-child(3) a {
    padding-left: 50px;
  }

  .gnb>li>.one>li:nth-child(4) a {
    padding-left: 25px;
  }

  .gnb>li>.two>li:nth-child(2)>a {
    padding-left: 65px;
  }

  .gnb>li>.two>li:nth-child(3)>a {
    padding-left: 50px;
  }

  .gnb>li>.two>li:nth-child(4)>a {
    padding-left: 55px;
  }

  .gnb>li>.three {
    left: -5%;
  }

  .gnb>li>.three>li:nth-child(1)>a {
    padding-right: 0;
  }

  .gnb>li>.three>li:nth-child(2)>a {
    padding-left: 45px;
  }

  .gnb>li>.three>li:nth-child(2)>.depth3 a {
    padding-left: 45px;
  }

  .gnb>li>.four>li:nth-child(2)>a {
    padding-left: 105px;
  }

  .gnb>li>.five {
    width: 600px;
    right: -25%;
  }

  .gnb>li>.five>li:nth-child(1)>a {
    padding-right: 0px;
  }

  .gnb>li>.five>li:nth-child(2)>a {
    padding-left: 40px;
  }

  .gnb>li>.five>li:nth-child(2)>.depth3 a {
    padding-left: 40px;
  }

  .gnb>li>.five>li:nth-child(3)>a {
    padding-left: 30px;
  }

  .gnb>li>.five>li:nth-child(4)>a {
    padding-left: 30px;
  }
}

@media(max-width:1024px) {
  .gnb>li>a {
    padding: 10px 20px;
    font-size: 1.4rem;
  }

  .gnb>li>.one {
    width: 500px;
    left: -15%;
  }

  .gnb>li>.one>li:nth-child(2) a {
    padding-left: 25px;
  }

  .gnb>li>.one>li:nth-child(2)>.depth3 a {
    padding-left: 25px;
  }

  .gnb>li>.one>li:nth-child(3) a {
    padding-left: 30px;
  }

  .gnb>li>.one>li:nth-child(4) a {
    padding-left: 10px;
  }

  .gnb>li>.two {
    width: 500px;
    left: -115%;
  }

  .gnb>li>.two>li:nth-child(2)>a {
    padding-left: 55px;
  }

  .gnb>li>.two>li:nth-child(3)>a {
    padding-left: 40px;
  }

  .gnb>li>.two>li:nth-child(4)>a {
    padding-left: 35px;
  }

  .gnb>li>.three {
    width: 300px;
    left: -15%;
  }

  .gnb>li>.three>li:nth-child(2)>a {
    padding-left: 30px;
  }

  .gnb>li>.three>li:nth-child(2)>.depth3 a {
    padding-left: 30px;
  }

  .gnb>li>.four {
    left: -10%;
    width: 300px;
  }

  .gnb>li>.four>li:nth-child(2)>a {
    padding-left: 85px;
  }

  .gnb>li>.five {
    width: 500px;
    right: -15%;
  }

  .gnb>li>.five>li:nth-child(2)>a {
    padding-left: 20px;
  }

  .gnb>li>.five>li:nth-child(2)>.depth3 a {
    padding-left: 20px;
  }

  .gnb>li>.five>li:nth-child(3)>a {
    padding-left: 15px;
  }

  .gnb>li>.five>li:nth-child(4)>a {
    padding-left: 10px;
  }
}

@media(max-width:860px) {
  .gnb>li>a {
    padding: 10px 10px;
  }

  #header .gnb>li:nth-child(1):hover::before {
    width: 70%;
  }

  #header .gnb>li:nth-child(2):hover::before {
    width: 70%;
  }

  #header .gnb>li:nth-child(3):hover::before {
    width: 75%;
  }

  #header .gnb>li:nth-child(4):hover::before {
    width: 85%;
  }

  #header .gnb>li:nth-child(5):hover::before {
    width: 60%;
  }

  .gnb>li>.one {
    width: 400px;
    left: -40%;
  }

  .gnb>li>.one>li:nth-child(2) a {
    padding-left: 15px;
  }

  .gnb>li>.one>li:nth-child(2)>.depth3 a {
    padding-left: 15px;
  }

  .gnb>li>.one>li:nth-child(3) a {
    padding-left: 10px;
  }

  .gnb>li>.one>li:nth-child(4) a {
    padding-left: 10px;
  }

  .gnb>li>.two {
    width: 400px;
    left: -130%;
  }

  .gnb>li>.two>li:nth-child(2)>a {
    padding-left: 30px;
  }

  .gnb>li>.two>li:nth-child(3)>a {
    padding-left: 20px;
  }

  .gnb>li>.two>li:nth-child(4)>a {
    padding-left: 10px;
  }

  .gnb>li>.three {
    width: 250px;
    left: -40%;
  }

  .gnb>li>.three>li:nth-child(2)>a {
    padding-left: 30px;
  }

  .gnb>li>.three>li:nth-child(2)>.depth3 a {
    padding-left: 30px;
  }

  .gnb>li>.four {
    left: -20%;
    width: 300px;
  }

  .gnb>li>.four>li:nth-child(2)>a {
    padding-left: 65px;
  }

  .gnb>li>.five {
    width: 450px;
    left: 50%;
    transform: translateX(-50%);
  }

  .gnb>li>.five>li:nth-child(2)>a {
    padding-left: 20px;
  }

  .gnb>li>.five>li:nth-child(2)>.depth3 a {
    padding-left: 20px;
  }

  .gnb>li>.five>li:nth-child(3)>a {
    padding-left: 15px;
  }

  .gnb>li>.five>li:nth-child(4)>a {
    padding-left: 10px;
  }
}

@media(max-width:768px) {
  .gnb {
    display: none;
  }
}

/* util */
#header .util {
  z-index: 1000;
  display: flex;
  align-items: center;
}

#header .util a {
  position: relative;
  display: block;
  padding: 0 15px;
}

#header .lang_depth2 {
  display: none;
  background: #fff;
  position: absolute;
  padding: 10px 0;
}

#header .lang_depth2 a {
  display: block;
  padding-bottom: 10px;
}

#header .lang_depth2 a:nth-child(2) {
  padding-bottom: 0;
}

#header .util li:nth-child(1) a:hover {
  color: #FFD700;
}

#header .util li:nth-child(2) a:hover {
  color: #FFD700;
}

#header .lang_depth2 a:hover {
  color: #FFD700;
}

#header .util .utilMenu:not(:nth-child(3)) a::before {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translateY(-50%);
  content: '';
  display: block;
  width: 1px;
  height: 14px;
  background-color: var(--base-color);
}

#header .ham {
  display: none;
  font-size: 0;
  width: 30px;
  height: 30px;
  border: 0;
  background: url(../img/main/ham.svg) no-repeat center;
  cursor: pointer;
}

.bi-x-lg::before {
  opacity: 0;
  font-size: 3rem;
}

/* mgnb */
#header .mgnb_wrap {
  display: none;
  padding-top: 60px;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

#header .mgnb_wrap .dim {
  z-index: -2;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 67%;
  background: rgba(0, 0, 0, 0.8);
}

#header .mgnb_wrap .mgnb {
  height: auto;
  background: #fff;
  width: 100%;
}

#header .mgnb_wrap .mgnb>ul {
  padding: 0%;
}

#header .mgnb_wrap .mgnb>ul>li {
  transition: all 0.5s;
  position: relative;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
}

#header .mgnb_wrap .mgnb>ul>li.active {
  background: #fff;
}

#header .mgnb_wrap .mgnb>ul>li.active .caret_down2 {
  top: 5%;
  transition: all 0.5s;
}

#header .mgnb_wrap .mgnb>ul>li.active img {
  transform: rotate(180deg);
}

#header .mgnb_wrap .mgnb>ul>li>a {
  display: block;
  padding: 10px;
}

#header .mgnb_wrap .mgnb>ul>li>.mdepth2 {
  display: none;
}

#header .mgnb_wrap .mgnb>ul>li>.mdepth2 li {
  background: #fff;
  transition: all 0.5s;
  padding: 10px;
}

#header .mgnb_wrap .mgnb>ul>li>.mdepth2 li a {
  display: block;
  font-size: 1.6rem;
  color: #999;
  position: relative;
}

#header .mgnb_wrap .mgnb>ul>li>.mdepth2 li:hover {
  background: #000;
}

#header .mgnb_wrap .mgnb>ul>li>.mdepth2 li:hover a {
  color: #fff;
}

#header .mgnb_wrap .mgnb>ul>li::before {
  display: none;
}

.mgnb_close {
  width: 30px;
  margin-left: 30px;
  cursor: pointer;
  display: none;
}

@media(max-width:1360px) {
  #header .util a {
    font-size: 1.4rem;
  }
}

@media (max-width: 1280px) {
  #header .util a {
    font-size: 1.2rem;
  }

  .caret_down,
  .caret_up {
    top: 15%;
  }
}

@media(max-width:1024px) {
  #header .util .utilMenu a {
    padding: 0 10px;
  }

  .caret_down,
  .caret_up {
    right: -10%;
  }

  #header .lang_depth2 {
    padding: 5px 0;
  }
}

@media (max-width:768px) {
  #header .mgnb_wrap {
    padding-top: 100px;
    opacity: 1;
  }

  #header .util li::before {
    display: none;
  }

  #header .util li>a {
    padding: 0 10px;
  }

  #header .util .ham {
    margin-left: 30px;
    display: block;
  }

  #header .util .utilMenu {
    display: none;
  }

  #header .util .utilMenu a::before {
    opacity: 0;
  }

  #header .caret_down,
  .caret_up {
    right: -15%;
  }

  .bi-x-lg::before {
    opacity: 1;
  }
}

@media (max-width:420px) {
  #header .util .utilMenu a {
    padding: 0 5px;
  }
}


@media (max-width:360px) {
  #header .mgnb_wrap {
    padding-top: 60px;
  }

  #header .mgnb_wrap .dim {
    height: 71%;
  }

  #header .util li::before {
    display: none;
  }

  #header .util li>a {
    padding: 0 10px;
  }

  #header .caret_down,
  .caret_up {
    right: -15%;
    top: 15%;
  }

  .bi-x-lg::before {
    margin-left: 50px;
  }

  #header .lang_depth2 {
    padding: 5px 0;
  }

  #header .lang_depth2 a {
    padding-bottom: 10px;
  }

  #header .lang_depth2 a:nth-child(2) {
    padding-bottom: 5px;
  }
}

/* footer */
#footer {
  padding: 100px 0 125px;
  background: #000;
}

#footer .inner>ul {
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

#footer .inner>ul>li {
  width: 100%;
  height: 300px;
  position: relative;
}

#footer .inner>ul>li:nth-child(1) {
  background: url(../img/main/footer_youtubebg.svg) no-repeat center / cover;
}

#footer .inner>ul>li:nth-child(2) {
  background: url(../img/main/footer_instabg.svg) no-repeat top / cover;
}

#footer .inner>ul>li:nth-child(3) {
  background: url(../img/main/footer_facebookbg.svg) no-repeat top / cover;
}

#footer .inner>ul>li a>img {
  position: absolute;
  right: 10%;
  bottom: 10%;
}

#footer .inner>ul>li p>a {
  display: block;
  font-size: 1.8rem;
  color: #fff;
  position: absolute;
  right: 10%;
  bottom: 25%;
  padding-bottom: 10px;
}

#footer .inner>ul>li p>a:hover {
  color: #FFD700;
  text-underline-offset: 5px;
  text-decoration: underline;
}

#footer .footer_txt {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  padding-top: 60px;
}

#footer .footer_txt .footer_left {
  margin-right: 100px;
}

#footer .footer_txt .footer_left a span {
  color: #fff;
  text-align: left;
  display: block;
  padding-bottom: 25px;
}

#footer .footer_txt .footer_left a:nth-child(1) span {
  color: #FFD700;
}

#footer .footer_txt .footer_right {
  color: #D9D9D9;
}

#footer .footer_txt .footer_right address a {
  display: block;
  pointer-events: none;
  color: #d9d9d9;
}

#footer .footer_txt .footer_right address>span,
p {
  display: block;
}

#footer .footer_txt .footer_right .copy {
  padding: 25px 0;
}

#footer .go_top {
  transition: all 0.5s;
  color: #FFD700;
  bottom: 5%;
  right: 5%;
  font-size: 5rem;
  opacity: 0;
}

#footer .go_top.fix {
  position: fixed;
  opacity: 0.5;
}

@media(max-width:1360px) {
  #footer .inner {
    padding-left: 5%;
    padding-right: 5%;
  }

  #footer .inner>ul>li p>a {
    font-size: 1.6rem;
  }

  #footer .inner>ul>li a>img {
    width: 40px;
  }
}

@media(max-width:1024px) {
  #footer .inner>ul {
    display: block;
  }

  #footer .inner>ul>li {
    height: 200px;
  }

  #footer .inner>ul>li p>a {
    bottom: 30%;
  }

  #footer .inner>ul>li a:nth-child(3)>img {
    width: 35px;
  }

  #footer .footer_txt .footer_left {
    margin: 0 auto;
    display: flex;
    gap: 10px;
    text-align: center;
    justify-content: space-between;
  }

  #footer .footer_txt .footer_right {
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: center;
  }
}

@media(max-width:768px) {
  #footer .inner>ul>li {
    height: 150px;
  }

  #footer .inner>ul>li p>a {
    bottom: 35%;
  }

  #footer .footer_txt .footer_right address a {
    pointer-events: initial;
  }
}

@media(max-width:400px) {
  #footer .footer_txt .footer_left a span {
    font-size: 1.4rem;
  }
}

@media(max-width:360px) {
  #footer {
    padding: 80px 16px;
  }

  #footer .inner>ul>li p>a {
    bottom: 50%;
  }

  #footer .go_top {
    bottom: 2%;
  }


}